<!DOCTYPE html>
{% load static %}
<head>
	<title>Graph Relative Ship Winrates</title>
	<meta charset="utf-8">
	<link href="{% static 'graphstyle.css' %}" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://d3js.org/d3.v4.js"></script>
</head>
<body>
<table class = "menu">
	<tr>
		<td><table><th>Tier</th></table></td>
		<td><table><th>Nation</th></table></td>
		<td><table><th>Type</th></table></td>
		<td><table><th>Premium</th></table></td>
	</tr>
	<tr>
		<td>
			<div class="options"><table>
				{% for val in range %}
				<tr><td><input class="tiervalue" type="checkbox" value="{{ val }}">{{ val }}</input></td></tr>
				{% endfor %}
			</table></div>
		</td>
		<td>
			<div class="options"><table>
				{% for entry in nations %}
				<tr><td><input class="nationvalue" type="checkbox" value="{{ entry.pk }}">{{ entry.human_name }}</input</td></tr>
				{% endfor %}
			</table></div>
		</td>
		<td>
			<div class="options"><table>
				{% for type in types %}
				<tr><td><input class="typevalue" type="checkbox" value="{{ type.pk }}">{{ type.name }}</input></td></tr>
				{% endfor %}
			</table></div>
		</td>
		<td>
			<div class="options"><table>
				<tr><td><select id="premium">
					<option value="0">All</option>
					<option value="1">Tech Tree</option>
					<option value="2">Premium</option>
				</select></td></tr>
			</table></div>
		</td>
	</tr>
</table>
<button id="Submit">Compare</button>
</body>
<svg>
	<defs>
	{% for entry in nations %}
	<pattern id="{{ entry.name }}" x="0%" y="0%" height="100%" width="100%"viewBox="0 0 512 512">
		<image x="0%" y="0%" width="512" height="512" href="/static/{{ entry.name }}.png"></image>
	</pattern>
	{% endfor %}
	<filter x="0" y="0" width="1" height="1" id="bgwhite">
      <feFlood flood-color="white"/>
      <feComposite in="SourceGraphic" operator="or" />
    </filter>
	</defs>
	<g id="canvas"></g>
</svg>

<script src="{% static 'physicssim.js' %}"></script>
